
.about-us-text{
    color: $main-color;

    h2{
        font-family: $main-font;
        font-weight: 600;
        font-size: 1.75em;
        width: 70%;
    }
    p{
        font-weight: 400;
        font-size: .90em;
        width: 85%;
        line-height: 1.15;
    }
    em{
        font-style: normal;
        font-weight: 600;
    }
}
.about-us-img{
    text-align: center;
    
    img{
        width: 80%;
        border-radius: 10px;
        object-fit: cover;
        margin: 0 auto; 
        height: 400px;
    }
}

.about-us{
    padding: 10% 0;
    
    @include break(768px){
        padding: 8% 0;
        grid-template-columns: repeat(6, 1fr);
        align-items: center;
        
        h2{
            font-size: 2em;
        }
        p{
            font-size: 1.1em;
        }
        .about-us-text{
            grid-column: 1/4;
        }

        .about-us-img{
            grid-column: 4/7;

            img{
                width: 60%;
                margin: 0 auto;
                width: 100%;
            }
        }

    }

    @include break(1200px){
        padding: 5% 0;

        .about-us-text{

            h2{
                font-size: 2.25em;
                width: 100%;
            }
        }

    }
}