/* COLORS */
$main-color: #043e46;
$secondary-color: #31c2b3;
$third-color: #a2c5c9;

/* GRADIENT */
$main-gradient: linear-gradient(0deg, rgba(5,84,94,0.9051995798319328) 80%, rgba(117,230,218,0.7) 100%);

/* FONTS */
$main-font: 'Montserrat', sans-serif;
$secondary-font: 'Montserrat Alternates', sans-serif;