.dc-teeth {
    background-image: url(dental_chart_sprites.png);
    background-repeat: no-repeat;
    display: block;
}
/************************upper half***********************/
.dc-teeth-1 {
    width: 26px;
    height: 44px;
    background-position: -5px -5px;
}

.dc-teeth-2 {
    width: 29px;
    height: 49px;
    background-position: -41px -5px;
}

.dc-teeth-3 {
    width: 29px;
    height: 51px;
    background-position: -80px -5px;
}

.dc-teeth-4 {
    width: 23px;
    height: 60px;
    background-position: -119px -5px;
}

.dc-teeth-5 {
    width: 24px;
    height: 60px;
    background-position: -152px -5px;
}

.dc-teeth-6 {
    width: 22px;
    height: 67px;
    background-position: -186px -5px;
}

.dc-teeth-7 {
    width: 19px;
    height: 59px;
    background-position: -218px -5px;
}

.dc-teeth-8 {
    width: 21px;
    height: 60px;
    background-position: -247px -5px;
}

.dc-teeth-9 {
    width: 21px;
    height: 60px;
    background-position: -247px -5px;
    transform: scaleX(-1);
}
.dc-teeth-10 {
    width: 19px;
    height: 59px;
    background-position: -218px -5px;
    transform: scaleX(-1);
}
.dc-teeth-11 {
    width: 22px;
    height: 67px;
    background-position: -186px -5px;
    transform: scaleX(-1);
}
.dc-teeth-12 {
    width: 24px;
    height: 60px;
    background-position: -152px -5px;
    transform: scaleX(-1);
}
.dc-teeth-13 {
    width: 23px;
    height: 60px;
    background-position: -119px -5px;
    transform: scaleX(-1);
}
.dc-teeth-14 {
    width: 29px;
    height: 51px;
    background-position: -80px -5px;
    transform: scaleX(-1);
}
.dc-teeth-15 {
    width: 29px;
    height: 49px;
    background-position: -41px -5px;
    transform: scaleX(-1);
}
.dc-teeth-16 {
    width: 26px;
    height: 44px;
    background-position: -5px -5px;
    transform: scaleX(-1);
}


/************************************bottom half***********************************/


.dc-teeth-17 {
    width: 28px;
    height: 45px;
    background-position: -278px -5px;
}

.dc-teeth-18 {
    width: 31px;
    height: 59px;
    background-position: -316px -5px;
}

.dc-teeth-19 {
    width: 33px;
    height: 62px;
    background-position: -357px -5px;
}

.dc-teeth-20 {
    width: 22px;
    height: 57px;
    background-position: -400px -5px;
}

.dc-teeth-21 {
    width: 21px;
    height: 61px;
    background-position: -432px -5px;
}

.dc-teeth-22 {
    width: 21px;
    height: 64px;
    background-position: -463px -5px;
}

.dc-teeth-23 {
    width: 17px;
    height: 59px;
    background-position: -494px -5px;
}

.dc-teeth-24 {
    width: 18px;
    height: 63px;
    background-position: -521px -5px;
}

.dc-teeth-25 {
    width: 18px;
    height: 63px;
    background-position: -521px -5px;
    transform: scaleX(-1);
}

.dc-teeth-26 {
    width: 17px;
    height: 59px;
    background-position: -494px -5px;
    transform: scaleX(-1);
}
.dc-teeth-27 {
    width: 21px;
    height: 64px;
    background-position: -463px -5px;
    transform: scaleX(-1);
}
.dc-teeth-28 {
    width: 21px;
    height: 61px;
    background-position: -432px -5px;
    transform: scaleX(-1);
}
.dc-teeth-29 {
    width: 22px;
    height: 57px;
    background-position: -400px -5px;
    transform: scaleX(-1);
}
.dc-teeth-30 {
    width: 33px;
    height: 62px;
    background-position: -357px -5px;
    transform: scaleX(-1);
}
.dc-teeth-31 {
    width: 31px;
    height: 59px;
    background-position: -316px -5px;
    transform: scaleX(-1);
}
.dc-teeth-32 {
    width: 28px;
    height: 45px;
    background-position: -278px -5px;
    transform: scaleX(-1);
}

